gitdb==4.0.12
GitPython==3.1.45
six==1.17.0
packaging==25.0
PyYAML==6.0.3
requests==2.32.5
pydantic==2.12.3
numpy==2.3.4
typing-inspection==0.4.2
Brotli==1.2.0
platformdirs==4.5.0
tzdata==2025.2
protobuf==6.33.0
zstandard==0.25.0
urllib3==2.5.0
python-dateutil==2.9.0.post0
click==8.3.0
pip==24.3.1
wandb==0.21.3
smmap==5.0.2
pytz==2025.2
PySocks==1.7.1
h2==4.3.0
hyperframe==6.1.0
idna==3.11
certifi==2025.10.5
pandas==2.3.2
hpack==4.1.0
pycparser==2.22
typing_extensions==4.15.0
pydantic_core==2.41.4
annotated-types==0.7.0
sentry-sdk==2.43.0
charset-normalizer==3.4.4
cffi==2.0.0
